body {
  background: #db3069;
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.clock {
  width: 10rem;
  height: 10rem;
  border: 0.5rem solid #005c69;
  border-radius: 50%;
  position: relative;
  padding: 0.5rem;
  background-color: #4c3b4d;
}
.clock-case {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  width: 50%;
  height: 0.25rem;
  background-color: #f5d547;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(1, 2.7, 0.5, 0.1);
}
.minute {
  height: 0.2rem;
}
.second {
  height: 0.1rem;
}
